* {
    box-sizing: border-box;
}

body {
    width: 30em;
    margin: 3rem auto;
    text-align: center;
    color: #000;
    background-color: #fff;
}

header, nav, div, footer {
    outline: solid 1px grey;
}