/** Mobile styles **/
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

header {
    line-height: 4.6875em;
    width: 100%;
}
.main {
    flex-direction: column;
    flex: 1;
}
nav {
    line-height: 9.375em;
    width: 100%;
}

.top-content {
    flex-direction: column;
}

.bottom-content {
    flex-direction: row;
}

.top-content > div {
    line-height: 7.8125em;
    flex: 1;
}

.bottom-content > div {
    line-height: 15.625em;
    width: 50%;
}

footer {
    line-height: 5em;
    width: 100%;
}

/* Tablet Styles */
@media only screen and (min-width: 768px){
    body {
        width:60em;
    }

    header {
        line-height: 6.25em;
    }

    nav {
        width: 12.5em;
        line-height: 37.5em;
    }

    .top-content, .bottom-content {
        flex: 1;
        flex-direction: row;
    }

    .top-content > div {
        line-height: 12.5em;
    }

    .bottom-content > div {
        line-height: 15.625em;
        flex: .25;
    }

    footer {
        line-height: 9.375em;
    }
}

/* Desktop styles */
@media only screen and (min-width: 991px){
    body {
        width:100%;
        margin: 0 auto;
    }

    nav {
        width: 12.5em;
        line-height: 50em;
    }
}