/** Mobile styles **/
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

header {
    line-height: 75px;
    width: 100%;
}
.main {
    flex-direction: column;
    flex: 1;
}
nav {
    line-height: 150px;
    width: 100%;
}

.top-content {
    flex-direction: column;
}

.bottom-content {
    flex-direction: row;
}

.top-content > div {
    line-height: 125px;
    flex: 1;
}

.bottom-content > div {
    line-height: 250px;
    width: 50%;
}

footer {
    line-height: 80px;
    width: 100%;
}

/* Tables Styles */

@media only screen and (min-width: 768px){
    body {
        width:60em;
    }

    header {
        line-height: 6.25em;
    }

    nav {
        width: 12.5em;
        line-height: 37.5em;
    }

    .top-content, .bottom-content {
        flex: 1;
        flex-direction: row;
    }

    .top-content > div {
        line-height: 12.5em;
    }

    .bottom-content > div {
        line-height: 250px;
        flex: .25;
    }

    footer {
        line-height: 150px;
    }
}

/* Desktop styles */