/** Mobile styles **/
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

header {
    line-height: 75px;
    width: 100%;
}

nav {
    line-height: 150px;
    width: 100%;
}

.top-content, .bottom-content {
    width: 100%;
}

.top-content > div {
    line-height: 125px;
    width: 100%;
}

.bottom-content > div {
    line-height: 250px;
    width: 50%;
}

footer {
    line-height: 80px;
    width: 100%;
}

/* Desktop Styles */

@media only screen and (min-width: 768px){
    body {
        width:960px;
    }

    header {
        height: 100px;
        line-height: 100px;
    }

    nav {
        float:left;
        height: 600px;
        width: 200px;
        line-height: 600px;
    }

    .top-content > div {
        height: 200px;
        line-height: 200px;
        width: 50%;
        float: left;
    }

    .bottom-content > div {
        width: 25%;
        float: left;
        height: 250px;
        line-height: 250px;
    }

    footer {
        height: 150px;
        line-height: 150px;
    }
}